{% extends "base.html" %}
{% load static %}
{% block head %}
<title>Мои подписки</title>
<link rel="stylesheet" href="{% static './pages/myFollow.css' %}">
{%endblock%}
{% block content %}
{% csrf_token %}
<div class="main__header">
    <h1 class="main__title">Мои подписки</h1>
</div>
{% if not followuser_list %}
{% include "customPage.html" %}
{% endif %}
<div class="card-list">
    {% for follow in followuser_list %}
    <div class="card-user" data-author={{follow.author.id}}>
        <div class="card-user__header">
            <h2 class="card-user__title">{{follow.author.get_full_name}}</h2>
        </div>
        <div class="card-user__body">
            <ul class="card-user__items">
                {%for recipe in follow.author.recipes.all|slice:"0:3" %}
                <li class="card-user__item">
                    <div class="recipe"> 
                        {% load thumbnail %}  
                        {% thumbnail recipe.image "100x100" crop="center" upscale=True as im %}                          
                        <img src="{{ im.url }}" alt="{{recipe.title}}" class="recipe__image">
                        {% endthumbnail %}
                        <h3 class="recipe__title">{{recipe.title}}</h3>
                        <p class="recipe__text"><span class="icon-time"></span> {{recipe.cooking_time}} мин.</p>
                    </div>
                </li>
           {%endfor%}
                <li class="card-user__item">
                    {% load item_key %}
                    <a id="recipe" href="{% url 'author_recipe' follow.author %}" class="card-user__link link"> {{ follow.author.recipes.count|change_ending_recipe }}</a>
                </li>
            </ul>
        </div>
        <div class="card-user__footer">
            <button class="button button_style_light-blue button_size_auto" name="subscribe">Отписаться</button>
        </div>
    </div>
{% endfor %}
</div> 
{% include "paginator.html" %} 
{%endblock%}
{% block js %}
<script src="{% static './js/components/MyFollow.js' %}"></script>
<script src="{% static 'myFollow.js' %}"></script>
{%endblock%}
