{% extends "base.html" %} {% load static %} {% block head %} {% csrf_token %}
<title>Рецепты</title>
<link rel="stylesheet" href="{% static './pages/index.css' %}" />
{%endblock%} {% block content %}
<div class="main__header">
    <h1 class="main__title">{{author_recipe_name.get_full_name}}</h1>
    {% include "menu_diet.html" %}
    <div class="author-subscribe" data-author="{{author_recipe_name.id}}">
        {% if author_recipe_name != request.user %} {% if user.is_authenticated %} {% load item_key %} {% if not author_recipe_name|check_subscription:request.user %}
        <p style="padding: 0 0 2em 0;"><button class="button button_style_light-blue button_size_subscribe" name="subscribe" data-out>Подписаться на автора</button></p>
        {%else%}
        <p style="padding: 0 0 2em 0;"><button class="button button_style_light-blue button_size_subscribe" name="subscribe">Отписаться от автора</button></p>
        {%endif%} {%endif%} {%endif%}
    </div>
    <div class="card-list">
        {% for recipe in recipe_list %} {% include "includes/recipe_item.html" with author_recipe=recipe %} {%endfor%}
    </div>
    {% include "paginator.html" with items=page paginator=paginator%} {%endblock%} {% block js %} {% include 'block_js.html' %}
    <script src="{% static './js/components/Subscribe.js' %}"></script>
    <script src="{% static './js/components/AuthorRecipe.js' %}"></script>
    <script src="{% static 'authorRecipe.js' %}"></script>
    {%endblock%}
</div>
