{% extends "base.html" %} {% load static %} {% block head %} {% csrf_token %}
<title>Рецепты</title>
<link rel="stylesheet" href="{% static './pages/index.css' %}" />
{%endblock%} {% block content %}
<div class="main__header">
    <h1 class="main__title">{{author_recipe_name.get_full_name}}</h1>
    {% include "menu_diet.html" %}
    <div class="author-subscribe" data-author={{author_recipe_name.id}}>
        <p style="padding: 0 0 2em 0;">
            {% include "includes/button_subscribe.html" with author=author_recipe_name %}
        </p>
    </div>
    <div class="card-list">
        {% for recipe in recipe_list %} {% include "includes/recipe_item.html" with author_recipe=recipe %} {%endfor%}
    </div>
    {% include "paginator.html" with items=page paginator=paginator%} {%endblock%} 
    {% block js %}
    {% if user.is_authenticated %}
    <script src="{% static './js/components/MainCards.js' %}"></script>

    <script src="{% static './js/components/Purchases.js' %}"></script>
    <script src="{% static './js/components/Favorites.js' %}"></script>
    <script src="{% static './js/components/Subscribe.js' %}"></script>

    <script src="{% static './js/config/config.js' %}"></script>
    <script src="{% static './js/components/AuthorRecipe.js' %}"></script>
    <script src="{% static './js/components/Header.js' %}"></script>

    <script src="{% static './js/api/Api.js' %}"></script>
    <script src="{% static 'authorRecipe.js' %}"></script>
    {%endif%}
    {%endblock%}
</div>
