{% extends "base.html" %} {% load thumbnail %} {% csrf_token %} {% load static %} {% block head %}
<title>Избранное</title>
<link rel="stylesheet" href="{% static './pages/index.css' %}" />
{%endblock%} {%block content%}
<div class="main__header">
    <h1 class="main__title">Избранное</h1>
    {% include "menu_diet.html" %}
    <div class="card__footer"></div>
    {% if not object_list %} {% include "custom_page.html" %} {% endif %}
    <div class="card-list">
        {% for recipe in object_list %} {% include 'includes/recipe_item.html' %} {%endfor%}
    </div>
    {% include "paginator.html" %} {%endblock%} 
    {% block js %}
    {% if user.is_authenticated %}
    <script src="{% static './js/components/MainCards.js' %}"></script>

    <script src="{% static './js/components/Purchases.js' %}"></script>
    <script src="{% static './js/components/Favorites.js' %}"></script>


    <script src="{% static './js/config/config.js' %}"></script>
    <script src="{% static 'js/components/CardList.js' %}"></script>
    <script src="{% static './js/components/Header.js' %}"></script>

    <script src="{% static './js/api/Api.js' %}"></script>
    <script src="{% static 'favorite.js' %}"></script>
    {%endif%}
    {%endblock%}
</div>
