{% extends "base.html" %} {% load static %} 
{% block head %} {% csrf_token %}
    <title>Рецепты {{following_recipe}}</title>
    <link rel="stylesheet" href="{% static './pages/index.css' %}" />
{%endblock%} 
{% block content %}
    <div class="main__header">
        <h1 class="main__title">Рецепты</h1>
        {% include "menu_diet.html" %}
        <div class="card-list">
            {% for recipe in recipe_list %} 
                {% include "includes/recipe_item.html" with recipe=recipe %} 
            {%endfor%}
    </div>
    {% include "paginator.html" with items=page paginator=paginator%} 
{%endblock%} 
{% block js %} {%endblock%}

