{% load thumbnail %}
<div class="card" data-id="{{recipe.id}}">
    {% thumbnail recipe.image "960x339" crop="center" upscale=True as im %}
    <a href="{% url 'recipe' recipe.author.username recipe.id %}" class="link" target="_blank"><img src="{{ im.url }}" alt="{{recipe.title}}" class="card__image" /></a>
    {% endthumbnail %}
    <div class="card__body">
        <a class="card__title link" href="{% url 'recipe' recipe.author.username recipe.id %}" target="_blank">{{recipe.title}}</a>
        <ul class="card__items">
            {% load tags_filter %}
            {% for tag in recipe.diets.all %} 
            <li class="card__item"><span class="badge badge_style_{{tag.id|get_checkbox_style_tag }}">{{tag.title}}</span></li>
            {% endfor %}
        </ul>
        <div class="card__items card__items_column">
            <p class="card__text"><span class="icon-time"></span> {{recipe.cooking_time}} мин.</p>
            <p class="card__text"><span class="icon-user"></span> <a href="{% url 'author_recipe' recipe.author.username %}" style="color: black;">{{recipe.author.get_full_name}} </a></p>
        </div>
    </div>
    <div class="card__footer">
        {% include "includes/button_purchases.html" with recipe=recipe %}
        {% include "includes/button_favorites.html" with recipe=recipe %}
    </div>
</div>
