<!doctype html>
<html lang="en">
    {% load thumbnail %}
    {% csrf_token %}
    <head>
        {% load static %}      
        <meta charset="UTF-8">
        <meta name="viewport"
              content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        {% block head %}
        <title>Рецепты</title>
        <link rel="stylesheet" href="{% static './pages/index.css' %}">
        {%endblock%}        
    </head>
    <body class="body">
        {% block menu %}   {% include "menu.html" %}  {%endblock%}       
    <main class="main container">
        {% block menu_diet %} {%endblock%}
        {% block content %} {%endblock%}
    </main>
{% block footer %}  {% include "footer.html" %} {%endblock%}  
{% if not request.resolver_match.url_name == 'shop_list' or not request.resolver_match.url_name == 'myfollow'%}
<script src="{% static './js/components/MainCards.js' %}"></script>
<script src="{% static './js/components/Purchases.js' %}"></script>
{%endif%}
{% if request.resolver_match.url_name == 'author_recipe' or request.resolver_match.url_name == 'myfollow' or request.resolver_match.url_name == 'recipe' %}
<script src="{% static './js/components/Subscribe.js' %}"></script>
{%endif%}
{% if request.resolver_match.url_name == 'index' or request.resolver_match.url_name == 'favorite_list' %}
<script src="{% static './js/components/CardList.js' %}"></script>
{%endif%}
<script src="{% static './js/config/config.js' %}"></script>
<script src="{% static './js/components/Header.js' %}"></script>
<script src="{% static './js/api/Api.js' %}"></script>
{% if user.is_authenticated %}
{% if not request.resolver_match.url_name == 'shop_list' or not request.resolver_match.url_name == 'myfollow'%}
<script src="{% static './js/components/Favorites.js' %}"></script>
{%endif%}
{% block js %} 
<script src="{% static 'indexAuth.js' %}"></script>
{%endblock%}
{%else%}
<script src="{% static 'indexNotAuth.js' %}"></script>
{%endif%}
</body> 
</html>
