
{% load item_key%}
<form action="{% url 'filter' %}" method="get">
   <ul class="tags">  
      
    {{url_list }}
   

        <li class="tags__item">
            {%for diet in view.get_diet %}
            {% if diet.title == "Завтрак" and tag_breakfast %}
            <a id="breakfast" class="tags__checkbox tags__checkbox_style_orange tags__checkbox_active"  href="{% url 'filter' %}?{% query_transform request diet=1 %}"></a>
            {% elif diet.title == "Завтрак" %}
            <a id="breakfast" class="tags__checkbox tags__checkbox_style_orange " href="{% url 'filter' %}?{% query_transform request diet=1 %}"></a>
            {% elif diet.title == "Ужин" and tag_dinner %}
            <a id="dinner" class="tags__checkbox tags__checkbox_style_purple tags__checkbox_active" href="{% url 'filter' %}?{% query_transform request diet=3 %}"></a>
            {% elif diet.title == "Ужин" %}
            <a id="dinner" class="tags__checkbox tags__checkbox_style_purple " href="{% url 'filter' %}?{% query_transform request diet=3 %}"></a>
        
            
            {% elif diet.title == "Обед" and tag_lunch %}
            <a id="lunch" class="tags__checkbox tags__checkbox_style_green tags__checkbox_active" href="{% url 'filter' %}?{% query_transform request diet=2 %}"></a>
            {% else %}
            <a id="lunch" class="tags__checkbox tags__checkbox_style_green " href="{% url 'filter' %}?{% query_transform request diet=2 %}"></a>
            {%endif%}
            <label for="{{diet.id}}" class="tags__label">{{diet.title}}</label>
             {%endfor%}              
        </li>         
    </ul>  
</div>
</form>


