{% block menu %}
{% if user.is_authenticated %}
  <header class="header">
      <nav class="nav">
          <div class="nav__container container">
              <ul class="nav__items list">
                {% if request.resolver_match.url_name == "index" %}
                  <li class="nav__item nav__item_active"><a href="{% url 'index' %}" class="nav__link link">Рецепты</a></li>
                  {%else%}
                  <li class="nav__item "><a href="{% url 'index' %}" class="nav__link link">Рецепты</a></li>
                  {%endif%}
                  {% if request.resolver_match.url_name == "myfollow" %}
                  <li class="nav__item nav__item_active"><a href="{% url 'myfollow' %}" class="nav__link link">Мои подписки</a></li>
                  {%else%}
                  <li class="nav__item"><a href="{% url 'myfollow' %}" class="nav__link link">Мои подписки</a></li>
                  {%endif%}
                  {% if request.resolver_match.url_name == "create_recipe" %}
                  <li class="nav__item nav__item_active"><a href="{% url 'create_recipe' %}" class="nav__link link">Создать рецепт</a></li>
                  {%else%}
                  <li class="nav__item"><a href="{% url 'create_recipe' %}" class="nav__link link">Создать рецепт</a></li>
                  {%endif%}
                  {% if request.resolver_match.url_name == "favorite_list" %}
                  <li class="nav__item nav__item_active"><a href="{% url 'favorite_list' %}" class="nav__link link">Избранное</a></li>
                  {%else%}
                  <li class="nav__item"><a href="{% url 'favorite_list' %}" class="nav__link link">Избранное</a></li>
                  {%endif%}
                  {% if request.resolver_match.url_name == "shop_list" %}
                  <li class="nav__item nav__item_active"><a href="{% url 'shop_list' %}" class="nav__link link">Список покупок</a> <span class="badge badge_style_blue nav__badge" id="counter">{{purchases_count}}</span></li>
                  {%else%}
                  <li class="nav__item"><a href="{% url 'shop_list' %}" class="nav__link link">Список покупок</a> <span class="badge badge_style_blue nav__badge" id="counter">{{purchases_count}}</span></li>
                  {%endif%}
              </ul>
              <ul class="nav__items list">
                  <li class="nav__item"><a href="{% url 'password_change' %}" class="nav__link link">Изменить пароль</a></li>
                  <li class="nav__item"><a href="{% url 'logout' %}" class="nav__link link">Выход</a></li>
              </ul>
          </div>
      </nav>
  </header>
{% else %}
  <header class="header">
    <nav class="nav">
        <div class="nav__container container">
            <ul class="nav__items list">
                <li class="nav__item nav__item_disabled"><a href="{% url 'index' %}" class="nav__link link">Рецепты</a></li>
                <li class="nav__item nav__item_disabled"><a href="{% url 'shop_list' %}" class="nav__link link">Список покупок {% if user.is_authenticated %} <span class="badge badge_style_blue nav__badge" id="counter"> {{purchases_count}} {% endif %}</span></a></li>
            </ul>
            <ul class="nav__items list">
                <li class="nav__item"><a href="{% url 'login' %}" class="nav__link link">Войти</a></li>
                <li class="nav__item"><a href="{% url 'signup' %}" class="button button_style_blue">Создать аккаунт</a></li>
            </ul>
        </div>
    </nav>
</header>
{% endif %}
{%endblock%}
