{% extends "base.html" %}
{% load static %}
{% block head %}
    <title>Список покупок </title>
    <link rel="stylesheet" href="{% static './pages/shopList.css' %}">
{%endblock%}
{% block content %}
    <div class="main__header">
        <h1 class="main__title">Список покупок</h1>
    </div>
    <div class="card-list card-list_column">
        <ul class="shopping-list">
            {% for purchase in purchases %}
            <li class="shopping-list__item" data-id={{purchase.recipe.id}}>
                <div class="recipe recipe_reverse">
                    <img src="{% static './images/testCardImg.png' %}" alt="какой-то текст" class="recipe__image recipe__image_big">
                    <h3 class="recipe__title">{{purchase.recipe.title}}</h3>
                    <p class="recipe__text"><span class="icon-time"></span> {{purchase.recipe.cooking_time}} мин.</p>
                </div>
                <a href="{% url 'shop_list' %}" class="shopping-list__button link">Удалить</a>
            </li>
            {%endfor%}
        </ul>
        <a href="{% url 'purcheses_download' %}"><button class="button button_style_blue">Скачать список</button></a>


    </div>
{%endblock%}
{% block js %}
<script src="{% static './js/components/ShopList.js' %}"></script>
<script src="{% static 'shopList.js' %}"></script>
{%endblock%}
