{% extends "base.html" %} {% block content %}
{% load addclass_html_filter %}
{% load static %}
<link rel="stylesheet" href="{% static 'pages/form.css' %}">
{% if validlink %}
    <div class="main__header">
        <h1 class="main__title">Изменить пароль</h1>
    </div>
    <div class="form-container">
    <form class="form" method="post">
        {% csrf_token %}
        {% for field in form %}
            <div class="form__group">
                <label for="{{ field.id_for_label }}" class="form__label">{{ field.label }}</label>
                <div class="form__field-group">
                    {{ field|addclass:"form__input" }}
                    {% if field.errors %}
                        <span class="form__error">{{ field.errors.as_text|escape }}</span>
                    {% endif %}
                    {% if field.help_text %}
                        <small id="{{ field.id_for_label }}-help"
                        class="form-text text-muted">{{ field.help_text|safe }}</small>
                    {% endif %}
                </div>
            </div>
        {% endfor %}
        <div class="form__footer">
            <button class="button button_style_blue">Изменить пароль</button>
        </div>
    </form>
{% else %}
    <div class="custom-center-block">
        <p class="custom-text-block">Ошибка</p>
        <p class="custom-text-block">Ссылка сброса пароля содержит ошибку или устарела.</p>
        <div class="custom-button-block">
            <a href="{% url 'index' %}">
                <button class="button button_style_blue">Перейти на главную</button>
            </a>
        </div>
    </div> 
{% endif %}
{% endblock %}
