{% extends "base.html" %} 
{% block head %} {% csrf_token %}
    <title>Сброс пароля</title>
    <link rel="stylesheet" href="{% static './pages/index.css' %}" />
{%endblock%} 
{% block content %}
<div class="main__header">
    <h1 class="main__title">Сброс пароля</h1>
</div>
<div class="custom-center-block">
    <p class="custom-text-block">Ваш пароль был успешно изменен. Пожалуйста, повторно войдите в систему с новыми учетными данными</p>
    <a href="{% url 'login'%}">
        <button class="button button_style_blue">Войти</button>
    </a>
</div>
</div>
{% endblock %}
