{% extends "base.html" %} 
{% csrf_token %}
{% load static %}
{% block title %}Пароль успешно изменен{% endblock title %}
{% block static_css %}
    <link rel="stylesheet" href="{% static 'pages/index.css' %}">
{% endblock %}
{% block menu %} 
    {% include "menu.html" %} 
{%endblock%}
{% block menu_title %} Пароль успешно изменен {%endblock%}
{% block content %}
<div class="custom-center-block">
    <p class="custom-text-block">Ваш пароль уже установлен.</p>
<div class="custom-button-block">
    <a href="{% url 'login' %}">
        <button class="button button_style_blue">войти сейчас</button>
    </a>
</div>
{% endblock %}
