{% extends "base.html" %} {% load static%} 
{% block head %}
    <title>Изменить пароль</title>
    <link rel="stylesheet" href="{% static './pages/form.css' %}" />
{%endblock%}
{% block content %}
{% load addclass_html_filter %}
<div class="form-container">
    <form class="form" method="post" action="">
        {% csrf_token %}
        {% for field in form %}
        <div class="form__group">

            <label for="{{ field.id_for_label }}" class="form__label">{{ field.label }}</label>
            <div class="form__field-group">
                {{ field|addclass:"form__input" }}
                {% if field.help_text %}
                <span class="form__input-info">{{ field.help_text|safe }}</span>
                {% endif %}
                {% if field.errors %}
                <span class="form__error">{{ field.errors.as_text|escape }}</span>
                {% endif %}

            </div>
        </div>
        {% endfor %}

        <div class="form__footer">
            <button type="submit" class="button button_style_blue">Изменить пароль</button>
        </div>
    </form>
</div>
{%endblock%}
