{% extends "base.html" %}
{% load static %}
{% block title %}Сброс пароля{%endblock%}
{% block static_css %}
    <link rel="stylesheet" href="{% static 'pages/index.css' %}">
{% endblock %}
{% block menu %} 
    {% include "menu.html" %} 
{%endblock%}
{% block menu_title %} Сброс пароля {%endblock%}
{% block content %}
    <div class="custom-center-block">
        <p class="custom-text-block">Проверьте свою почту, вам должно прийти письмо со ссылкой для восстановления пароля</p>
    <div class="custom-button-block">
        <a href="{% url  'index' %}">
            <button class="button button_style_blue">Перейти на главную</button>
        </a>
    </div>
{% endblock %}
