{% extends "base.html" %} 
{% block content %}
    <main class="main container">
        <div class="row justify-content-center">
            <div class="col-md-8 p-5">
                <div class="card">
                    <div class="card-header">Сброс пароля</div>
                    <div class="card-body">
                        <p>Проверьте свою почту, вам должно прийти письмо со ссылкой для восстановления пароля</p>
                    </div>
                    <!-- card body -->
                </div>
                <!-- card -->
            </div>
            <!-- col -->
        </div>
        <!-- row -->
    </main>
    <div class="custom-button-block">
        <a href="{% url 'index' %}">
            <button class="button button_style_blue">Перейти на главную</button>
        </a>
    </div>
{% endblock %}
