{% extends "base.html" %} 
{% csrf_token %}
{% load static %}
{% block title %}Изменение пароля{% endblock title %}
{% block static_css %}
    <link rel="stylesheet" href="{% static 'pages/index.css' %}">
{% endblock %}
{% block menu %} 
    {% include "menu.html" %} 
{%endblock%}
{% block menu_title %} Пароль изменен {%endblock%}
{% block content %}
     <div class="custom-center-block">
        <p class="custom-text-block">Ваш пароль был успешно изменен. Пожалуйста, повторно войдите в систему с новыми учетными данными</p>
    <div class="custom-button-block">
        <a href="{% url 'login'%}">
            <button class="button button_style_blue">Войти</button>
        </a>
    </div>
{% endblock %}
