<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title> {% block title %} Рецепты | Foodgram {%endblock%} </title>
    {% block static_css %}{% endblock %}
</head>
<body class="body">
{% block menu %}{%endblock%}
<main class="main container">
    <div class="main__header">
        <h1 class="main__title">{% block menu_title %}{%endblock%}</h1>
        {% block menu_diet %} {%endblock%}
    </div>
    {% block content %} {%endblock%}
</main>
{% include 'footer.html' %}
{% block js %} {%endblock%}
<script src="https://browser.sentry-cdn.com/5.11.1/bundle.min.js"></script>
<!-- https://github.com/getsentry/sentry-javascript/issues/1976#issuecomment-492260648 -->
<script src="https://browser.sentry-cdn.com/5.11.1/captureconsole.min.js"></script>
<script>
    Sentry.init({
        dsn: 'https://a9d50c03ce364238b88d703cd50c3ea4@o543343.ingest.sentry.io/5663411',
        debug: false,
        integrations: [
            new Sentry.Integrations.CaptureConsole({
                levels: ['error']
            })
        ],
    });     
</script>
</body>
</html>
