{% load static %} {% csrf_token %}
<script src="{% static './js/config/config.js' %}"></script>
<script src="{% static './js/components/Header.js' %}"></script>
<script src="{% static './js/api/Api.js' %}"></script>
{% if request.resolver_match.url_name == 'index' or request.resolver_match.url_name == 'favorite_list' or request.resolver_match.url_name == 'author_recipe' %}
<script src="{% static './js/components/MainCards.js' %}"></script>
<script src="{% static './js/components/Purchases.js' %}"></script>
<script src="{% static './js/components/CardList.js' %}"></script>
{%endif%} {% if request.resolver_match.url_name == 'index' %} {% if user.is_authenticated %}
<script src="{% static './js/components/Favorites.js' %}"></script>
<script src="{% static 'indexAuth.js' %}"></script>
{%else%}
<script src="{% static 'indexNotAuth.js' %}"></script>
{%endif%} {%endif%} {% if request.resolver_match.url_name == 'favorite_list' or request.resolver_match.url_name == 'author_recipe'%}
<script src="{% static './js/components/Favorites.js' %}"></script>
{%endif%}
