{% block menu %} 
<header class="header">
    <nav class="nav">
        <div class="nav__container container">
            <ul class="nav__items list">
                <li class="nav__item {% if request.resolver_match.url_name == 'index' %} nav__item_active {% endif %}"><a href="{% url 'index' %}" class="nav__link link">Рецепты</a></li>
                {% if user.is_authenticated %}
                    <li class="nav__item {% if request.resolver_match.url_name == 'myfollow' %} nav__item_active {%endif%}"><a href="{% url 'myfollow' %}" class="nav__link link">Мои подписки</a></li>
                    <li class="nav__item {% if request.resolver_match.url_name == 'create_recipe' %} nav__item_active {%endif%}"><a href="{% url 'create_recipe' %}" class="nav__link link">Создать рецепт</a></li>
                    <li class="nav__item {% if request.resolver_match.url_name == 'favorite_list' %} nav__item_active {%endif%}"><a href="{% url 'favorite_list' %}" class="nav__link link">Избранное</a></li>
                {%endif%}
                <li class="nav__item {% if request.resolver_match.url_name == 'shop_list' %} nav__item_active {%endif%}">
                {% load checking_status_filter %}
                    <a href="{% url 'shop_list' %}" class="nav__link link">Список покупок</a> <span class="badge badge_style_blue nav__badge" id="counter">{{ request|purchases_count }}</span>
                </li>
            </ul>
            {% if user.is_authenticated %}
                <ul class="nav__items list">
                    <li class="nav__item"><a href="#" class="nav__link link">{{user}}</a></li>
                    <li class="nav__item"><a href="{% url 'password_change' %}" class="nav__link link">Изменить пароль</a></li>
                    <li class="nav__item"><a href="{% url 'logout' %}" class="nav__link link">Выход</a></li>
                </ul>
            {% else %}
                <ul class="nav__items list">
                    <li class="nav__item"><a href="{% url 'login' %}" class="nav__link link">Войти</a></li>
                    <li class="nav__item"><a href="{% url 'signup' %}" class="button button_style_blue">Создать аккаунт</a></li>
                </ul>
            {% endif %}
        </div>
    </nav>
</header>
{%endblock%}
