{% extends "base.html" %}
{% load thumbnail %}      
    {% csrf_token %} 
{% load static %}
{% block head %}
<title>Избранное</title>
<link rel="stylesheet" href="{% static './pages/index.css' %}">
{%endblock%}
{%block content%}
<div class="main__header">
    <h1 class="main__title">Избранное</h1>
{% include "menu_diet.html" %}
<div class="card__footer">
                    

</div>   
        <div class="card-list">                   
            {% for follow_recipe in followrecipe_list %}                   
                {% include "includes/recipe_item.html" with recipe=follow_recipe.following_recipe %}
            {%endfor%}      
        </div>    
            {% include "paginator.html" with items=page paginator=paginator%}  
{%endblock%} 
   
{% block js %}
<script src="{% static './js/components/MainCards.js' %}"></script>

<script src="{% static './js/components/Purchases.js' %}"></script>
<script src="{% static './js/components/Favorites.js' %}"></script>

<script src="{% static './js/config/config.js' %}"></script>
<script src="{% static './js/components/CardList.js' %}"></script>
<script src="{% static './js/components/Header.js' %}"></script>

<script src="{% static './js/api/Api.js' %}"></script>
<script src="{% static 'favorite.js' %}"></script>
      {%endblock%}
