    {% load thumbnail %}      
            <div class="card" data-id={{recipe.id}} >    
                {% thumbnail recipe.image "960x339" crop="center" upscale=True as im %}             
                <a href="{% url 'recipe' recipe.author.username recipe.id %}" class="link" target="_blank"><img src="{{ im.url }}" alt="Какой-то текст" class="card__image"></a>
                {% endthumbnail %}
                <div class="card__body">
                    <a class="card__title link" href="{% url 'recipe' recipe.author.username recipe.id %}" target="_blank">{{recipe.title}}</a>
                    <ul class="card__items">                        
                        {% for tag in recipe.diets.all %}
                        {% if tag.title == "Обед" %}
                        <li class="card__item"><span class="badge badge_style_green " >{{tag.title}}</span></li>
                        {%endif%}
                        {% if tag.title == "Завтрак" %}
                        <li class="card__item"><span class="badge badge_style_orange">{{tag.title}}</span></li>
                        {%endif%}
                        {% if tag.title == "Ужин" %}
                        <li class="card__item"><span class="badge badge_style_purple">{{tag.title}}</span></li> 
                        {%endif%}
                        {% endfor %}                    
                    </ul>
                    <div class="card__items card__items_column">
                        <p class="card__text"><span class="icon-time"></span> {{recipe.cooking_time}} мин.</p>
                        <p class="card__text"><span class="icon-user"></span> <a href="{% url 'author_recipe' recipe.author.username %}" style="color: black">{{recipe.author.get_full_name}} </a></p>
                    </div>
                </div>
                <div class="card__footer">
                    {% if not recipe.id in list_purchases%}
                    <button class="button button_style_light-blue" name="purchases" data-out ><span class="icon-plus button__icon"></span>Добавить в покупки</button>
                    {%else%}
                    <button class="button button_style_light-blue" name="purchases"  data-out><span class="icon-plus "></span> Рецепт добавлен</button>
                    {%endif%}
                    {% if user.is_authenticated %}
                    {% if recipe.id not in follow_recipe_list %}
                    <button class="button button_style_none" name="favorites" data-out><span class="icon-favorite"></span></button> 
                    {% else %}  
                    <button class="button button_style_none" name="favorites"><span class="icon-favorite icon-favorite_active"></span></button>
                    {%endif%}
                    {%endif%}
                </div>    
            </div>
